<div>
  <table>
    <tr>
      <th>Abehinds</th>
      <th>hscore</th>
    </tr>

    <tr *ngFor="let game of games">
      <td>{{game.abehinds}}</td>
      <td>{{game.hscore}}</td>
    </tr>
  </table>

</div>
