<div>
    <table>
        <tr>
            <th>Team</th>
            <th>Logo</th>
        </tr>

        <tr *ngFor="let team of teams">
            <td>{{team.name}}</td>
            <td><img src="https://squiggle.com.au/{{team.logo}}"></td>
        </tr>
    </table>
</div>
