<div>
    <app-view-league-table></app-view-league-table>
    <app-view-team-games></app-view-team-games>
    <app-ladder-table></app-ladder-table>
    <app-sources-component></app-sources-component>
    <app-tips-component></app-tips-component>
</div>